@import "./reset";

$Blue: hsl(223, 87%, 63%);
$PaleBlue: hsl(223, 100%, 88%);
$LightRed: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 57%);
$VeryDarkBlue: hsl(209, 33%, 12%);

@mixin flexin($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

img {
  width: 100%;
}

.hidden {
  opacity: 0;
}

body {
  @include flexin(space-between, center, column);
  height: 100vh;
  font-family: "Libre Franklin", sans-serif;
}

main {
  @include flexin(space-around, center, column);
  width: 45%;
  min-width: 800px;
  height: 100%;
  padding: 4rem 0 0rem 0;
  text-align: center;
}

header {
  width: 100%;
  img {
    width: 13%;
    padding: 0 0 1rem 0;
  }
  h1 {
    font-size: 3rem;
    line-height: 2;
    span {
      font-weight: 700;
    }
  }
  h2 {
    font-size: 1.25rem;
  }
}

.form-container {
  @include flexin(space-between, flex-start, row);
  width: 100%;
  padding: 1rem 0;
  input,
  button {
    height: 4rem;
    border-radius: 3rem;
  }
  .input-error {
    width: 65%;
    text-align: left;
  }

  input {
    width: 100%;
    padding-left: 2rem;
    font-size: 1.25rem;
    font-weight: 300;
    border: 1px solid $Gray;
  }

  .error {
    padding: 0.51rem 0 0 2rem;
    font-style: italic;
    color: hsl(354, 100%, 66%);
  }

  button {
    width: 32%;
    border: none;
    background-color: $Blue;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    box-shadow: 0px 4px 9px $Gray;
  }
}

.dashboard {
  padding: 1rem 0;
}

.social-icons {
  @include flexin(center, center, row);
  i {
    padding: 0.5rem;
    margin: 0rem 0.25rem;
    border: hsl(0, 0%, 57%);
    border: 1px solid $Gray;
    border-radius: 50%;
  }
}

.copyright {
  font-size: .63rem;
}

footer {
  p {
    font-size: .63rem;
  }
  a {
    text-decoration: none;
    color: $Gray
  }
  a:hover {
    color: $Blue
  }
}

@media (max-width: 900px) {
  body {
    width: 100vw;
  }
  main {
    @include flexin(flex-start, center, column);
    width: 85%;
    min-width: 0;
    padding-top: 5.25rem;
  }

  header {
    img {
      width: 18%;
      padding: 0 0 1.75rem 0;
    }
    h1 {
      font-size: 1.39rem;
      line-height: 2;
      span {
        font-weight: 700;
      }
    }
    h2 {
      padding: 0.75rem 0 0.25rem 0;
      font-size: 0.75rem;
    }
  }

  .form-container {
    @include flexin(center, center, column);
    padding: 1.5rem 0;
    width: 100%;
    input,
    button {
      margin: 0.25rem 0;
      height: 2.5rem;
      border-radius: 3rem;
      width: 88%
    }
    .input-error {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: left;
    }

    .hidden {
      display: none;
    }

    input {
      padding-left: 2rem;
      font-size: 0.75rem;
    }

    .error {
      padding: 0.51rem 0 0 2rem;
    }

    button {
      font-size: 1.25rem;
      font-weight: 600;
      box-shadow: 0px 4px 9px $Gray;
    }
  }

  .dashboard {
    padding: 2.75rem 0;
  }

  .social-icons {
    padding: 4rem 0 2rem 0;
  }

  .copyright {
    font-size: .63rem;
  }
}
